In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('./data/titanic/train.csv')

In [3]:
data.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
data.shape

(891, 12)

In [6]:
surv=data[(data['Survived']==1)] # выжившие

In [7]:
nosurv=data[(data['Survived']==0)] # погибшие

In [9]:
d=data.shape[0]
s=surv.shape[0]
n=nosurv.shape[0]
print("всего было на Титанике",d,"человек")
print("выжило",s,"человека")
print("погибло",n,"человек")
print("процент выживших",round(s/d*100,1),"%")

всего было на Титанике 891 человек
выжило 342 человека
погибло 549 человек
процент выживших 38.4 %

In [31]:
s_m=surv["Sex"][(surv['Sex'] == 'male')].count() 
s_f=surv["Sex"][(surv['Sex'] == 'female')].count() 
print("из выживших",round(s_f/s*100,1),"% - женщины, ",round(s_m/s*100,1),"% - мужчины")

из выживших 68.1 % - женщины,  31.9 % - мужчины

In [38]:
s_ch18=surv["Age"][(surv['Age'] < 18)].count() 
s_ch10=surv["Age"][(surv['Age'] < 10)].count() 
ns_ch18=nosurv["Age"][(nosurv['Age'] < 18)].count() 
print("из выживших",round((s_ch18-s_ch10)/s*100,1),"% - дети от 10 до 18 лет")
print("из выживших",round(s_ch10/s*100,1),"% - дети до 10 лет")
print("из погибших",round(ns_ch18/n*100,1),"% - дети до 18 лет")

из выживших 6.7 % - дети от 10 до 18 лет
из выживших 11.1 % - дети до 10 лет
из погибших 9.5 % - дети до 18 лет

In [37]:
s_cl1=surv["Pclass"][(surv['Pclass'] ==1)].count() 
s_cl2=surv["Pclass"][(surv['Pclass'] ==2)].count() 
s_cl3=surv["Pclass"][(surv['Pclass'] ==3)].count() 
print("из выживших",round(s_cl1/s*100,1),"% - пассажиры 1 класса,",round(s_cl2/s*100,1),"% - 2 кл.,",round(s_cl3/s*100,1),"% - 3 кл.")
n_cl1=nosurv["Pclass"][(nosurv['Pclass'] ==1)].count() 
n_cl2=nosurv["Pclass"][(nosurv['Pclass'] ==2)].count() 
n_cl3=nosurv["Pclass"][(nosurv['Pclass'] ==3)].count() 
print("из погибших",round(n_cl1/n*100,1),"% - пассажиры 1 класса,",round(n_cl2/n*100,1),"% - 2 кл.,",round(n_cl3/n*100,1),"% - 3 кл.")

из выживших 39.8 % - пассажиры 1 класса, 25.4 % - 2 кл., 34.8 % - 3 кл.
из погибших 14.6 % - пассажиры 1 класса, 17.7 % - 2 кл., 67.8 % - 3 кл.

In [40]:
print("из приведенной статистики видно, что 2/3 погибших пассажиров было из 3 класса. Больше был шанс выжить у детей и женщин")

из приведенной статистики видно, что 2/3 погибших пассажиров было из 3 класса. Больше был шанс выжить у детей и женщин